/**
    # Globals
*/
:root
{
    --primary-color: #3D5AF1;
    --primary-lighter-color: #22D1EE;
    --secondary-color: #0E153A;
    --secondary-darker-color: #030929;
}

*
{
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    margin: 0;
    font-family: Montserrat;
}

html.modal-open, html.modal-open body
{
    overflow: hidden;
}

.btn
{
    text-decoration: none;
    color: #FFF;
    background-color: var( --primary-color );
    cursor: pointer;
    border: none;
    transition: .3s;
}

.btn:hover
{
    box-shadow: 0 0 40px 0 rgba( 0,0,0,0.3 );
    background-color: var( --secondary-color );
}

/**
    # Hero
*/
.hero
{
    height: 100vh;
    color: #FFF;
    position: relative;
    overflow: hidden;
    font-size: 1.2vmax;
}

.hero-clip
{
    clip-path: polygon( 0% 100%, 0% 0%, 100% 0%, 70% 65% );
    background-image: linear-gradient( 45deg, var( --primary-color ) , var( --primary-lighter-color ) 80% );
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 8em;
}

.hero-bubbles
{
    height: 1em;
    width: 1em;
    border-radius: 100%;
    position: fixed;
    background-color: transparent;
}

.hero-bubbles-left
{
    left: -1em;
    top: -1em;
    box-shadow: 3em  4em  0 3em   rgba( 255,255,255,0.04 ),
                13em 7em  0 1.5em rgba( 255,255,255,0.04 ),
                20em 1em  0 3em   rgba( 255,255,255,0.04 ),
                30em 8em  0 6em   rgba( 255,255,255,0.04 ),
                6em  15em 0 5em   rgba( 255,255,255,0.04 ),
                25em 25em 0 4.5em rgba( 255,255,255,0.03 );
}

.hero-bubbles-right
{

    right: -1em;
    top: -1em;
    box-shadow: -18em 6em 0 6em   rgba( 255,255,255,0.08 ),
                -30em 13em 0 3em rgba( 255,255,255,0.06 );
}

.hero-title
{
    margin: 0 0 .3em 0;
    font-size: 5em;
}

.hero-description
{
    font-size: 1.5em;
    color: var( --secondary-color );
}

.hero-buttons-container
{
    margin-top: 4em;
}

.hero-btn
{
    font-size: 1.2em;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    border: 1px solid #FFF;
    padding: .5em 1em;
    margin: 0 1em 0 0;
    cursor: pointer;
    transition: .3s;
}

.hero-btn-primary
{
    border-color: var( --secondary-color );
    background-color: var( --secondary-color );
    animation-delay: .8s;
    opacity: 0;
    box-shadow: 0 0 10px 0 rgba( 0,0,0,0.5 );
}

.hero-btn-secondary
{
    animation-delay: .8s;
    opacity: 0;
}

.hero-btn-primary:hover
{
    box-shadow: 0 0 40px 0 rgba( 0,0,0,0.3 );
    background-color: var( --secondary-darker-color );
}

.hero-btn-secondary:hover
{
    box-shadow: 0 0 10px 0 rgba( 255,255,255,0.2 ) inset,
                0 0 30px 0 rgba( 0,0,0,0.3 );
}

.hero-floating-image
{
    position: absolute;
    width: 40%;
    right: 10%;
    bottom: 0;
    pointer-events: none;
}

.hero-floating-image img
{
    width: 100%;
    height: auto;
}

/**
    # projects
*/
.projects-container
{
    text-align: center;
    font-size: 1vmax;
    padding-top: 3em;
    margin-top: 4em;
}

.projects-title
{
    color: var( --secondary-color );
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    display: table;
    margin: auto;
}

.projects-title > span
{
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-image: linear-gradient( to right, var( --primary-color ) , var( --primary-lighter-color ) );
}

.projects-subtitle
{
    color: rgba( 0,0,0,0.5 );
    padding: 0;
    margin: 0 0 1.5em;
}

.mockup-devices
{
    position: relative;
    margin-top: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mockup-devices .click-animation
{
    position: absolute;
    display: none;
    transform: rotate( -30deg );
    z-index: 10;
    pointer-events: none;
    will-change: transform;
    animation: switch-sides 4s ease-in-out infinite;
}

.mockup-devices .click-animation-cursor
{
    position: absolute;
    display: block;
    height: 4em;
    width: 2em;
    z-index: 1;
    background-color: var( --secondary-color );
    clip-path: polygon( 50% 0, 100% 50%, 50% 40%, 0 50% );
}

.mockup-devices .click-animation-drop
{
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 100%;
    margin-top: -.5em;
    margin-left: .5em;
    border: 1px solid #333;
    will-change: opacity, transform;
    animation: click-drop 2s infinite;
}

.mockup-devices > div
{
    position: relative;
    cursor: pointer;
    top: -5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mockup-devices > div::after
{
    content: '\f00e';
    font-size: 5em;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    position: absolute;
    color: #FFF;
    margin-top: -.4em;
    margin-left: -.4em;
    opacity: 0;
    transform: scale( 0.5 );
    will-change: opacity, transform;
    transition: .3s;
    text-shadow: 0 0 5px rgba( 0,0,0,0.7 ),
                 0 0 20px rgba( 0,0,0,0.3 );
}

.mockup-devices > div:hover::after
{
    transform: scale( 1 );
    opacity: 1;
}

.mockup-description
{
    display: block;
    font-size: 1em;
    position: absolute;
    padding-top: .3em;
    border-top: 1px solid var( --primary-color );
    top: 100%;
    /* margin-top: 1.2em; */
    color: rgba( 0,0,0,.8 );
}

.mockup-description::after
{
    content: '';
    position: absolute;
    display: block;
    height: 1.2em;
    width: 1px;
    background-color: var( --primary-color );
    left: 0em;
    bottom: 100%;
    transform-origin: bottom;
    transform: rotate( 45deg );
}

.mockup-description::before
{
    content: '↑ Click Me ↑';
    display: none;
    color: transparent;
    position: absolute;
    margin-top: -4em;
    font-weight: bold;
    left: 100%;
    margin-left: -2.5em;
    transform: rotate( -38deg );
    transform-origin: center;
    white-space: nowrap;
    background-clip: text;
    background-size: 200% 100%;
    background-image: linear-gradient( to right, var( --primary-lighter-color ), 
                        var( --primary-color ) , 
                        var( --primary-lighter-color ) );
    will-change: background-position;
    animation: 1s gradient infinite ease;
}

.mockup-right .mockup-description::before
{
    margin-left: -3em;
    margin-top: -5em;
    transform: rotate( -48deg );
}

.mockup-description i
{
    color: var( --primary-color );
}

.mockup-devices img
{
    width: 40em;
    height: auto;
    will-change: transform;
    transition: .3s;
}

.mockup-devices > div:hover img
{
    transform: translateY( -10px ) scale( 1.05 );
}

/**
    # Thumbnails
*/
.thumbnails-clip-path
{
    background-color: #F0F0F0;
    width: 100%;
    height: 15em;
    margin-top: -25em;
    margin-bottom: -1px;
    position: relative;
    z-index: -1;
    position: relative;
    clip-path: polygon( 100% 40%, 70% 0, 0 100%, 100% 100% );
}

.thumbnails-container
{
    background-color: #F0F0F0;
    padding: 10em 5em 15em 5em;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}

.thumbnails-container > *
{
    flex-basis: 30%;
}

.thumbnail
{
    font-size: 1vmax;
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    cursor: pointer;
    margin-bottom: 4em;
    transition: .3s;
    box-shadow: 0 0 10px 5px rgba( 0,0,0,0.3 );
}

.thumbnail:hover
{
    transform: scale( 1.03 );
    box-shadow: 0 0 30px 5px rgba( 0,0,0,0.3 );
}

.thumbnail-title
{
    margin: 0;
    color: #FFF;
    background-color: var( --secondary-color );
    text-transform: capitalize;
    font-weight: normal;
    text-align: center;
    padding: 1em;
}

.thumbnail-img
{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.thumbnail-img img
{
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: relative;
    transition: .3s;
}

.thumbnail-img::after
{
    content: '';
    display: block;
    background-color: rgba( 0,0,0,0.7 );
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    top: 0;
    z-index: 1;
}

.thumbnail-img::before
{
    content: '\f00e';
    font-size: 5em;
    left: 50%;
    margin-left: -.6em;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    position: absolute;
    z-index: 2;
    transform: scale( 0.5 );
    color: #FFF;
}

.thumbnail-img::before, .thumbnail-img::after
{
    opacity: 0;
    will-change: opacity, transform;
    transition: .3s all;
}

.thumbnail:hover .thumbnail-img img
{
    transform: scale( 1.2 );
}

.thumbnail:hover .thumbnail-img::before, .thumbnail:hover .thumbnail-img::after
{
    opacity: 1;
    transform: scale( 1 );
}

.thumbnails-container .show-more-btn-container
{
    flex-basis: 100%;
    text-align: center;
}

.thumbnails-container .show-more-btn
{
    position: relative;
    padding: 1em 2em;
    font-size: .8em;
    font-family: inherit;
}


/**
    # Footer
*/
.footer
{
    font-size: 1vmax;
    text-align: center;
    background-color: var( --secondary-color );
    padding: 0 0 3em 0;
    color: #FFF;
    position: relative;
}

.footer::before
{
    content: '';
    display: block;
    position: absolute;
    background: inherit;
    width: 100%;
    height: 6em;
    left: 0;
    bottom: 100%;
    margin-bottom: -1px;
    clip-path: polygon(0 100%,50% 0,100% 100%,100% 100%,0 100%);
}

.footer-avatar
{
    width: 10em;
    position: absolute;
    bottom: 100%;
    margin-bottom: 1em;
    left: 50%;
    margin-left: -5em;
}

.footer-title
{
    color: #FFF;
    text-shadow: 0 0 10px rgba( 0,0,0,.8 );
    position: relative;
    display: table;
    font-size: 2em;
    margin: 0 auto 1em auto;
}

.footer-title::after
{
    content: '';
    display: block;
    position: absolute;
    background-color: var( --primary-color );
    height: .05em;
    width: 80%;
    bottom: -.3em;
    left: 10%;
}


.footer .about-me
{
    padding: 1em;
    font-size: .8em;
    margin: 4em 0 2em;
}

.footer .about-me h4
{
    font-size: 1.5em;
    margin: 0 0 .5em;
}

.footer .about-me p
{
    line-height: 2em;
    padding: 0;
    margin: 0;
    color: rgba( 255,255,255,0.8 );
}

.footer .about-me p i
{
    margin-left: .5em;
    /* font-size: 1.5em;
    text-shadow: 0 0 10px rgba( 255,255,255,.5 ),
                 0 0 10px rgba( 0,0,0,.5 ); */
}

.footer-links a
{
    color: #FFF;
    text-decoration: none;
    display: inline-block;
    background-color: var( --primary-color );
    padding: .5em 1em;
    margin: 0 .5em;
    transition: .3s;
}

.footer-links a:hover
{
    background-color: #2341d3;
    box-shadow: 0 0 10px 0 rgba( 0,0,0,0.5 );
    transform: translateY( -5px );
}

.footer-links a [class*="la"]
{
    font-size: 1.7em;
    display: inline-block;
    vertical-align: middle;
    /* margin-right: 5px;
    margin-top: -.1em;
    text-shadow: 0 0 5px rgba( 0,0,0,1 ),
                 0 0 10px rgba( 0,0,0,.5 );
    color: rgba( 0,0,0,0.5 ); */
}

.footer-links a .la-file
{
    position: relative;
}

.footer-links a .la-file::after
{
    content: 'CV';
    font-family: Montserrat;
    font-size: .3em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -.2em;
    margin-left: -.7em;
}

.copyrights
{
    text-align: center;
    color: rgba( 255,255,255,0.8 );
    background-color: var( --secondary-darker-color );
    font-size: .9vmax;
    padding: 1em 0;
    margin-top: -1px;
}

/**
    # Transparent Floating Words
*/
.transparent-floating-words
{
    display: none;
    font-size: 4vmax;
    color: #000;
    font-weight: bold;
    opacity: 0.03;
    position: relative;
    pointer-events: none;
}

.transparent-floating-words span
{
    display: block;
    position: absolute;
}

.transparent-floating-words span:nth-child( 1 )
{
    top: -10em;
    left: 1em;
}

.transparent-floating-words span:nth-child( 2 )
{
    font-size: .7em;
    left: 20em;
    top: -5em
}

.transparent-floating-words span:nth-child( 3 )
{
    font-size: .9em;
    left: 5em;
    top: 1em
}

.transparent-floating-words span:nth-child( 4 )
{
    font-size: .7em;
    left: 45em;
    top: -2em
}

.transparent-floating-words span:nth-child( 5 )
{
    font-size: .8em;
    left: 35em;
    top: 7em
}

.transparent-floating-words span:nth-child( 6 )
{
    right: 10em;
    top: 2em
}

.transparent-floating-words span:nth-child( 7 )
{
    font-size: .7em;
    right: 2em;
    top: -4em
}

.transparent-floating-words span:nth-child( 8 )
{
    font-size: .5em;
    right: 22em;
    top: -7em
}

.transparent-floating-words span:nth-child( 9 )
{
    font-size: .5em;
    left: 3em;
    top: 10em
}

.transparent-floating-words span:nth-child( 10 )
{
    font-size: .7em;
    left: 2em;
    top: 15em
}

/**
    # Modal
*/

/* Overlay */
.overlay
{
    content: '';
    display: block;
    position: fixed;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: rgba( 0,0,0,.7 );
    cursor: pointer;
    transition: .3s;
}

.modal
{
    position: fixed;
    z-index: 99999;
    font-size: .9vmax;
    transition: .3s;
}

/* Clip Path Triangle */
.modal-content::before
{
    content: '';
    background-color: var( --primary-color );
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    clip-path: polygon( 45% 0, 0 0, 0 100% );
}

.modal-content
{
    position: absolute;
    height: 90vh;
    width: 80vw;
    top: 5vh;
    left: 10vw;
    background-color: #FFF;
    display: flex;
    box-shadow: 0 0 30px 0 rgba( 0,0,0,.6 );
}

.modal-content > *
{
    height: 100%;
    flex-basis: 50%;
    position: relative;
    z-index: 2;
}

.modal-image, .modal-text
{
    padding: 5em;
}

.modal-image
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.modal-image > a, .modal-image picture
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-image img
{
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 0 20px 0 rgba( 0,0,0,.3 );
}

.modal-text
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
}

.modal-title
{
    font-weight: normal;
    font-size: 2.2em;
    margin: 0;
}

.modal-description
{
    color: #777;
    line-height: 2;
    overflow-y: auto;
}

.modal-description a
{
    color: var( --primary-color );
    text-decoration: none;
}

.modal-description a:hover
{
    text-decoration: underline;
}

.modal-btn
{
    align-self: flex-start;
    display: inline-block;
    padding: .5em 1em;
    margin: 1rem 1rem 0 0;
}

.modal-btn:hover
{
    box-shadow: 0 0 40px 0 rgba( 0,0,0,0.3 );
    background-color: var( --secondary-color );
}

.modal-close-btn
{
    position: absolute;
    top: 2.5em;
    right: 2.5em;
    height: 3em;
    width: 3em;
    display: block;
    cursor: pointer;
    /* background-color: #F00; */
}

.modal-close-btn::before, .modal-close-btn::after
{
    content: '';
    position: absolute;
    display: block;
    height: .1em;
    top: 50%;
    margin-top: -.1em;
    width: 100%;
    background-color: rgba( 0,0,0,.3 );
    transform-origin: center;
    transform: rotate( 45deg );
    transition: .3s;
}

.modal-close-btn::after
{
    transform: rotate( -45deg );
}

.modal-close-btn:hover::before, .modal-close-btn:hover::after
{
    background-color: #000;
}

/**
    # Helpers
*/
.hidden
{
    display: none !important;
}

.hidden-fade, .hidden-slide-down
{
    opacity: 0 !important;
    pointer-events: none !important;
}

.hidden-slide-down
{
    transform: translateY( -7em );
}

/**
    # Responsivness
*/
@media only screen and ( max-width: 1600px )
{   
    .projects-container
    {
        font-size: 1.5vmax;
    }

    .mockup-description
    {
        display: block;
        font-size: 1em;
    }

    .mockup-devices img
    {
        width: 100%;
    }

    .footer
    {
        font-size: 1.5vmax;
    }
}

@media only screen and ( orientation: portrait ) and ( max-width: 1600px )
{
    .hero
    {
        font-size: 1.5vmax;
    }

    .hero-clip
    {
        padding: 15em 5em;
        background-attachment: initial;
    }

    .hero-floating-image
    {
        width: 60%;
        right: 1em;
        bottom: 5em;
    }

    .thumbnails-container
    {
        padding: 10em 2em 15em 2em;
    }

    .thumbnails-container > *
    {
        flex-basis: 47%;
    }

    .thumbnail
    {
        font-size: 1.8vmax;
    }

    .thumbnails-clip-path
    {
        height: 10em;
    }

    .mockup-devices
    {
        margin-top: 15em;
    }

    .mockup-devices .click-animation
    {
        display: block;
        font-size: 1.5vmax;
        top: -12em;
    }

    .mockup-devices > div
    {
        top: -13em;
    }

    .mockup-description
    {
        margin-top: 1em;
    }

    .mockup-description::before
    {
        display: block;
    }

    .modal-content::before
    {
        clip-path: polygon( 45% 0, 0 0, 0 50% );
    }

    .modal-content
    {
        height: 80vh;
        width: 94vw;
        top: 5vh;
        left: 3vw;
        display: block;
    }

    .modal-image
    {
        height: 50%;
        padding: 4em;
    }

    .modal-text
    {
        font-size: 2vmax;
        padding: 0 3em 2em;
        height: 50%;
        justify-content: flex-start;
    }

    .modal-title
    {
        font-size: 1.5em;
    }

    .modal-description
    {
        line-height: 1.5;
    }
    
    .modal-close-btn
    {
        height: 3.5em;
        width: 3.5em;
        top: 1.5em;
        right: 1.5em;
    }
}

@media only screen and ( orientation: landscape ) and ( max-width: 1600px )
{
    .modal
    {
        font-size: 1vmax;
    }
}

@media only screen and ( max-width: 1024px )
{
    .mockup-devices > div::after
    {
        display: none;
    }
}

@media only screen and ( orientation: portrait ) and ( max-width: 1000px )
{
    .hero-clip
    {
        clip-path: polygon( 0 100%, 100% 90%, 100% 0, 0 0 );
        padding: 20em 4em;
    }
}

@media only screen and ( orientation: landscape ) and ( max-width: 1000px )
{
    .hero
    {
        font-size: 1.8vmax;
    }

    .hero-clip
    {
        padding: 4em;
    }
}

@media only screen and ( max-width: 1000px )
{
    .projects-container
    {
        font-size: 2.5vmax;
    }

    .mockup-description
    {
        font-size: .7em;
    }

    .thumbnails-container
    {
        justify-content: center;
    }

    .thumbnails-container > *
    {
        flex-basis: 95%;
    }

    .thumbnails-clip-path
    {
        height: 7em;
        margin-top: -15em
    }

    .thumbnail
    {
        font-size: 2.4vmax;
    }

    .footer
    {
        font-size: 2vmax;
    }

    .copyrights
    {
        font-size: 1.8vmax;
    }
}

@media only screen and ( orientation: portrait ) and ( max-width: 500px )
{
    .hero
    {
        font-size: 2vmax;
    }

    .hero-clip
    {
        padding: 10em 2em;
    }

    .hero-btn
    {
        margin: 1em 3px;
    }

    .thumbnails-clip-path
    {
        margin-top: -18em;
    }

    .thumbnails-container
    {
        padding: 2em 2em 15em 2em;
    }
}


/**
    # Animations
*/

/* Global animation properties*/
.slide-in-from-right,
.slide-in-from-left,
.slide-in-from-top,
.slide-in-from-bottom
{
    animation-name: slide-in-from-right;
    animation-duration: 1s; 
    animation-fill-mode: forwards;
    animation-timing-function:  ease-out;
    will-change: opacity, transform;
}

.slide-in-from-right{ animation-name: slide-in-from-right; }

.slide-in-from-left { animation-name: slide-in-from-left; }

.slide-in-from-top { animation-name: slide-in-from-top; }

.slide-in-from-bottom { animation-name: slide-in-from-bottom; }

@keyframes slide-in-from-right
{
    from { transform: translateX( 50px ); opacity: 0; }
    to { transform: translateX( 0 ); opacity: 1; }
}

@keyframes slide-in-from-left
{
    from { transform: translateX( -50px ); opacity: 0; }
    to { transform: translateX( 0 ); opacity: 1; }
}

@keyframes slide-in-from-bottom
{
    from { transform: translateY( 50px ); opacity: 0; }
    to { transform: translateY( 0 ); opacity: 1; }
}

@keyframes slide-in-from-top
{
    from { transform: translateY( -50px ); opacity: 0; }
    to { transform: translateY( 0 ); opacity: 1; }
}

@keyframes click-drop
{
    0% { transform: scale( 1 ); opacity: .5; }
    50%, 100% { transform: scale( 4 ); opacity: 0; }
}

@keyframes switch-sides
{
    0%, 10% { transform: translateX( -20vw ) rotate( -30deg ); }
    50%, 60%{ transform: translateX( 20vw ) rotate( -30deg ); }
    100%{ transform: translateX( -20vw ) rotate( -30deg ); }
}

@keyframes grow-and-disappear
{
    0% 
    { 
        transform: rotate( 0deg ) scale( 1 );
        opacity: 1; 
    }

    50%, 100% 
    { 
        transform: rotate( 30deg ) scale( 3 );
        opacity: 0; 
    }
}

@keyframes gradient
{
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}