@import 'https://fonts.googleapis.com/css?family=Montserrat';

*
{
    box-sizing: border-box;
}

body
{
    background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
    background-size: 100vw 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0;
}

.container
{
    height: 600px;
    width: 500px;
    
    background: linear-gradient(110deg, 
                rgba(55, 32, 77, 0.8) 10%, 
                rgba(19, 44, 90, 0.7) 50%, 
                rgba(19, 44, 90, 0.7) 60%, 
                rgba(55, 32, 77, 0.8) 100%), 
                url(../img/bg.jpg);
    
    background-position: center center;
    background-size: cover;
    margin: 0 auto;
    padding: 70px 60px;
    box-shadow: 0 0 70px 0 rgba(0,0,0,0.5);
}

.container .tabs a
{
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: rgba(255,255,255,0.5);
    font-family: Montserrat;
    text-transform: uppercase;
    font-size: 20px;
    margin-right: 30px;
    padding-bottom: 3px;
    transition: 0.3s all;
}

.container .tabs a:hover, .container .tabs a.active-tab
{
    color: #FFF;
}

.container .tabs a.active-tab:after
{
    content: '';
    display: block;
    background: #1762EE;
    height: 2px;
    width: 92%;
    position: absolute;
    bottom: 0;
    left: 4%;
}

.container form
{
    margin-top: 120px;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
}

.container form label.text-label
{
    display: block;
    margin: 0;
    font-family: Montserrat;
    text-transform: uppercase;
    color: rgba(212, 212, 212, 0.8);
    font-size: 10px;
    margin-bottom: 4px;
    margin-left: 15px;
}

.container form input#user-name, .container form input#password
{
    border: none;
    display: block;
    width: 100%;
    background: rgba(144, 144, 144, 0.4);
    border-radius: 90px;
    padding: 7px 14px;
    color: #FFF;
    font-family: Montserrat;
    margin-bottom: 20px;
    transition: 0.3s all;
}

.container form input#user-name:focus, .container form input#password:focus
{
    outline: none;
    background: rgba(255,255,255,0.3);
}

.container form input#user-name::placeholder, .container form input#password::placeholder
{
    color: rgba(255,255,255,0.3);
}

.container .styled-checkbox
{
    display: none;
}

.container .styled-checkbox + label
{
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
}

.container .checkbox-placeholder
{
    display: inline-block;
    height: 14px;
    width: 14px;
    background: rgba(144,144,144,0.5);
    margin-left: 15px;
    margin-right: 2px;
    margin-bottom: -2px;
    position: relative;
    border-radius: 3px;
    transition: 0.3s all;
}

.container .checkbox-placeholder:before, .container .checkbox-placeholder:after
{
    content: '';
    display: block;
    position: absolute;
    background: #FFF;
    height: 2px;
    opacity: 0;
    transition: 0.3s all;
}

.container .checkbox-placeholder:before
{
    width: 4px;
    transform: rotate(45deg);
    top: 7px;
    left: 3px;
}

.container .checkbox-placeholder:after
{
    width: 8px;
    transform: rotate(-45deg);
    top: 6px;
    left: 4px;
}

.container .styled-checkbox + label:hover .checkbox-placeholder, .container .styled-checkbox:checked + label .checkbox-placeholder
{

    background: #1762EE;
}

.container .styled-checkbox:checked + label .checkbox-placeholder:before, .container .styled-checkbox:checked + label .checkbox-placeholder:after
{
    opacity: 1;
}

.container form .submit-button
{
    display: block;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #FFF;
    background: #1762EE;
    border: none;
    text-transform: uppercase;
    border-radius: 90px;
    font-family: Montserrat;
    font-size: 12px;
    transition: 0.3s all;
}

.container form .submit-button:hover
{
    background: #1354ce;
}

.container hr
{
    margin-top: 70px;
    border: none;
    border-top: 1px solid rgba(212,212,212,0.5);
}

.container .forgot-password
{
    display: block;
    text-align: center;
    color: rgba(255,255,255,0.4);
    text-decoration: none;
    font-family: Montserrat;
    font-size: 13px;
    margin-top: 40px;
    transition: 0.3s all;
}

.container .forgot-password:hover
{
    color: #FFF;
}